## Connect to MySQL db Using Magic sql

In [1]:
%load_ext sql

In [5]:
%sql postgresql://root:yaoyugang2008@127.0.0.1:3306/world

(psycopg2.OperationalError) received invalid response to SSL negotiation: J
 (Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Querying Data Using Connector/Python
Using pip to install **MySQL Connector** library. 
```Python
pip install mysql-connector-python
```

In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='root', password='yaoyugang2008',
                              host='127.0.0.1',
                              database='world')
cursor = cnx.cursor()

In [3]:
query = ("SELECT name, district,population FROM city "
         "limit 10")

In [4]:
cursor.execute(query)

In [5]:
# see one results
cursor.fetchone()

('Kabul', 'Kabol', 1780000)

In [5]:
# see all query results
rows = cursor.fetchall()   # type of rows is list

In [6]:
# using pretty print to output
import pprint
pprint.pprint(rows)

[('Kabul', 'Kabol', 1780000),
 ('Qandahar', 'Qandahar', 237500),
 ('Herat', 'Herat', 186800),
 ('Mazar-e-Sharif', 'Balkh', 127800),
 ('Amsterdam', 'Noord-Holland', 731200),
 ('Rotterdam', 'Zuid-Holland', 593321),
 ('Haag', 'Zuid-Holland', 440900),
 ('Utrecht', 'Utrecht', 234323),
 ('Eindhoven', 'Noord-Brabant', 201843),
 ('Tilburg', 'Noord-Brabant', 193238)]

In [7]:
# convert query results to pandas dataframe
import pandas 
df = pandas.DataFrame.from_records(rows,columns=['Name','Distinct','Population']) 
df.head()

             Name       Distinct  Population
0           Kabul          Kabol     1780000
1        Qandahar       Qandahar      237500
2           Herat          Herat      186800
3  Mazar-e-Sharif          Balkh      127800
4       Amsterdam  Noord-Holland      731200

In [14]:
cursor.close()
cnx.close()